---
layout: base.liquid  
title: Games
pagination: 
  data: games
  size: 1
  alias: game
permalink: "/games/{{ game.title | slugify }}-{{ game.developer | slugify }}.html"
---
<section class="landing custom-drk">
  <div class="section container">
    <div class="iframe-container">
      <iframe
        src="../browser_games/{{ game.filename }}.html"
        title="{{ game.title }}"></iframe>
        </div>
      <br>
      <div class="name-and-author">
      <h1 class="game-name">{{ game.title }}</h1>
      <span class="student-name">
        by {{ game.developer }}
      </span>
      </div>
      <div class="description-container">
      <p class="description">
        {{ game.description }}
        <br>
        <br>
        Instructions:
        {{ game.instructions }}
        <br>
        <br>
        Course:
        {{ game.course}}
      </p> 
    </div>
    <div class="text-center">
      {% if pagination.href.previous %}
        <a class="neon-button" href="{{ pagination.href.previous }}">Previous</a>
      {% endif %}
      {% if pagination.href.next %}
        <a class="neon-button" href="{{ pagination.href.next }}">Next</a>
      {% endif %}
    </div>
  </div>
</section>