---
layout: base.liquid  
title: Games List
pagination: 
  data: games_list
  size: 1
  alias: game
---

<div class="section container">
  <h1 class="section-title">{{ game.title }}</h1>
  <div class="game-description">
    <span class="student-name">
      by {{ game.developer }}
    </span>
    <p>
      {{ game.description }}
      <br>
      Instructions:
      {{ game.instructions }}
    </p>
  </div>
  <div class="text-center">
    {% if pagination.href.previous %}
      <a class="gradient-btn" href="{{ pagination.href.previous }}">Prev</a>
    {% endif %}

    {%- for pageEntry in pagination.pages %}

      <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>

    {%- endfor %}
    &nbsp;
    &nbsp;
    {% if pagination.href.next %}
      <a class="gradient-btn" href="{{ pagination.href.next }}">Next</a>
    {% endif %}
  </div>


</div>